@model IEnumerable<ERP_Compact.Models.CustomerViewModel>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="row" id="messageDiv">
    <div class="col-lg-12">
        <p class='text-center @TempData["message_background"]'><b>@TempData["message_text"]</b></p>
    </div>
</div>
<div class="row">
    <div class="col-lg-12">
        <p>
            <a class="btn btn-primary" href="/MgtCustomer/Create">Add New Customer</a>
        </p>
    </div>
</div>
<div class="row">
    <div class="col-lg-12">
        <h2>Customer List</h2>
    </div>
</div>
<div class="row">
    <div class="col-lg-12">
        <table class="table" id="dataTable">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.CustomerName)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.CPhone)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.CustomeAddress)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.CEmail)
                    </th>
                    <th></th>
                </tr>
            </thead>

            <tbody>
                @foreach (var item in Model)
            {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.CustomerName)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.CPhone)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.CustomeAddress)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.CEmail)
                        </td>
                        <td>
                            @Html.ActionLink("Edit", "Edit", new { id = item.CustomerKey }) |
                            @Html.ActionLink("Details", "Details", new { id = item.CustomerKey }) |
                            @Html.ActionLink("Delete", "Delete", new { id = item.CustomerKey }, new { onclick = "return confirm('Are you sure to delete?');" })
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>


<link href="~/Content/datatables/dataTables.bootstrap.css" rel="stylesheet" />
<script src="~/Scripts/jquery.dataTables.js"></script>
<script src="~/Scripts/dataTables.bootstrap.js"></script>
<script>
    $(function () {
        showMessageDiv();
        $("#dataTable").DataTable();
    });
    function showMessageDiv() {
        $("#messageDiv").hide();
        var message = '@TempData["message_text"]';
        if (message != '') {
            $("#messageDiv").show();
            setTimeout(hideMessageDiv, 2000);
        }
    }
    function hideMessageDiv() {
        $("#messageDiv").hide(1000);
    }
</script>