@model ERP_Compact.Models.ManufacturerViewModel

@{
    ViewBag.Title = "Detail";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="row" id="messageDiv">
    <div class="col-lg-12">
        <p class='text-center @TempData["message_background"]'><b>@TempData["message_text"]</b></p>
    </div>
</div>
<div class="row">
    <div class="col-lg-12">
        <h2>Company Detail</h2>
    </div>
</div>
<div class="row">
    <div class="col-lg-12">
        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()

            <div class="form-horizontal">
                <div class="form-group">
                    @Html.LabelFor(model => model.ManufacturerID, htmlAttributes: new { @class = "control-label col-md-3" })
                    <div class="col-md-9">
                        @Html.DisplayFor(model => model.ManufacturerID, new { htmlAttributes = new { @class = "form-control" } })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.ManufacturerName, htmlAttributes: new { @class = "control-label col-md-3" })
                    <div class="col-md-9">
                        @Html.DisplayFor(model => model.ManufacturerName, new { htmlAttributes = new { @class = "form-control" } })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.ManufacturerAddress, htmlAttributes: new { @class = "control-label col-md-3" })
                    <div class="col-md-9">
                        @Html.DisplayFor(model => model.ManufacturerAddress, new { @class = "form-control" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.CPhone, htmlAttributes: new { @class = "control-label col-md-3" })
                    <div class="col-md-9">
                        @Html.DisplayFor(model => model.CPhone, new { htmlAttributes = new { @class = "form-control" } })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.CountryOfOrigin, htmlAttributes: new { @class = "control-label col-md-3" })
                    <div class="col-md-9">
                        @Html.DisplayFor(model => model.CountryOfOrigin, new { htmlAttributes = new { @class = "form-control" } })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.CEmail, htmlAttributes: new { @class = "control-label col-md-3" })
                    <div class="col-md-9">
                        @Html.DisplayFor(model => model.CEmail, new { htmlAttributes = new { @class = "form-control" } })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.CWebsite, htmlAttributes: new { @class = "control-label col-md-3" })
                    <div class="col-md-9">
                        @Html.DisplayFor(model => model.CWebsite, new { htmlAttributes = new { @class = "form-control" } })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.CFax, htmlAttributes: new { @class = "control-label col-md-3" })
                    <div class="col-md-9">
                        @Html.DisplayFor(model => model.CFax, new { htmlAttributes = new { @class = "form-control" } })
                    </div>
                </div>

                <div class="form-group">
                    @Html.Label("Current logo", new { @class = "control-label col-md-3" })
                    <div class="col-md-9">
                        @{
                            var base64 = Convert.ToBase64String(Model.Logo);
                            var imgSrc = String.Format("data:image/jpg;base64,{0}", base64);
                            <img src='@imgSrc' style="max-height:200px;max-width:200px;border-radius: 25px;" class="col-md-8 col-md-offset-2" />
                        }
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-md-offset-2 col-md-2">
                        @Html.ActionLink("<< Manufacturer List", "Index", null, new { @class = "btn btn-primary" })
                    </div>
                    <div class="col-md-offset-6 col-md-2">
                        @Html.ActionLink("Go to update", "Edit", new { id = Model.ManufacturerKey }, new { @class = "btn btn-info" })
                    </div>

                </div>
            </div>
                            }
    </div>
</div>
