@model ERP_Compact.Models.StoreShelfViewModel
@{
    ViewBag.Title = "Store Shelf";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<link href="~/Content/datatables/dataTables.bootstrap.css" rel="stylesheet" />
<script src="~/Scripts/jquery.dataTables.js"></script>
<script src="~/Scripts/dataTables.bootstrap.js"></script>
<script type="text/javascript">
        $(function () {

            $('#ctable').dataTable();
            var path_to_delete;

            $(".deleteStoreShelf").click(function (e) {
                path_to_delete = $(this).data('path');
            });
            $('#btnContinueDelete').click(function () {
                window.location = path_to_delete;
            });
        });

</script>
<script src="~/Scripts/AutoComplete/scStoreShelf.js"></script>
<script type="text/javascript">
        $(document).ready(function () {
            $('#msgSuccess').hide();

            $(".discussion-comment").click(function (event) {
                $('#ShelfKey').val($(this).attr("discussion-id"));
                $('#myModal').modal('show');
                $('#btnUpdate').show();
                $('#btnAdd').hide();
                var w = "#ShelfKey";
                var url = '@Url.Content("~/")' + "Utility/LoadStoreShelf";
                $.getJSON(url, { SelectID: $(w).val() }, function (data) {

                    $('#ShelfID').val(data["ShelfID"]);
                    $('#ShelfName').val(data["ShelfName"]);
                    $('#ShelfLevel').val(data["ShelfLevel"]);
                });

            });

            $(".digit").keypress(function (e) {
                if (e.which != 8 && e.which != 0 && (e.which < 48 || e.which > 57)) {
                    $("#errormsg").html("Digits Only").show().fadeOut("slow");
                    return false;
                }
            });
    });

</script>



<div class="panel panel-flat">
    <div class="panel-heading">

        <h2>
            List of Store Shelf
        </h2>

    </div>
    <div class="panel-body">
        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#myModal" onclick="clearTextBox();">Add New Store Shelf</button>
    </div>
    <div class="panel-body">

        <table class="table table-bordered table-hover datatable-highlight" id="ctable">
            <thead><tr><th>Shelf ID</th><th>Shelf Name</th><th>Shelf Level</th><th>Action</th></tr></thead>
            <tbody>

                @foreach (var item in Model.StoreShelfList)
            {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.ShelfID)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.ShelfName)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.ShelfLevel)
                        </td>
                        <td>
                            <a class="discussion-comment btn" discussion-id="@item.ShelfKey" href="#">Edit</a> ||

                            <a id="deleteStoreShelf" class="deleteStoreShelf btn" data-target="#basic" data-toggle="modal" data-path="@Url.Action("Delete", "MgtStoreShelf",new{ID=item.ShelfKey})">Delete</a>

                        </td>
                    </tr>
                }
            </tbody>
        </table>

    </div>
    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">×</button>
                    <h4 class="modal-title" id="myModalLabel">Add New Store Shelf</h4>
                </div>
                <div class="modal-body">
                    <form>

                        <div class="form-group">
                            @Html.LabelFor(model => model.ShelfID, "Shelf ID")
                            @Html.HiddenFor(model => model.ShelfKey, new { id = "ShelfKey" })
                            @Html.TextBoxFor(model => model.ShelfID, new { placeholder = " Shelf ID", id = "ShelfID", @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.ShelfID, "", new { @class = "text-danger" })

                        </div>
                        <div class="form-group">
                            @Html.LabelFor(model => model.ShelfName, "Shelf Name")
                            @Html.TextBoxFor(model => model.ShelfName, new { @required = "required", placeholder = " Shelf Name", id = "ShelfName", @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.ShelfName, "", new { @class = "text-danger" })

                        </div>
                        <div class="form-group">
                            @Html.LabelFor(model => model.ShelfLevel, "Shelf Level")
                            @Html.TextBoxFor(model => model.ShelfLevel, new { @required = "required", placeholder = " Shelf Level ", id = "ShelfLevel", @class = "digit form-control" })
                            @Html.ValidationMessageFor(model => model.ShelfLevel, "", new { @class = "text-danger" })
                            <span id="errormsg" style="color:orangered;text-decoration:solid"></span>

                        </div>
                    </form>
                    <div class="form-group" id="msgSuccess"><h4 class="alert alert-danger">Data is successfully Saved on database.</h4></div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" id="btnAdd" onclick="return Add();">Add</button>
                    <button type="button" class="btn btn-primary" id="btnUpdate" style="display:none;" onclick="Update();">Update</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="basic" tabindex="-1" role="basic" aria-hidden="true" style="display: none;">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
                    <h4 class="modal-title">Delete Confirmation</h4>
                </div>
                <div class="modal-body">
                    Are you sure you want to delete this?
                </div>
                <div class="modal-footer">
                    <button data-dismiss="modal" type="button" class="btn btn-default">Cancel</button>
                    <button id="btnContinueDelete" type="button" class="btn btn-info">Continue To Delete</button>
                </div>
            </div>
        </div>
    </div>

</div>


