
@{
    ViewBag.Title = "Dashboard";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">

    <div class="panel panel-info">
        <div class="panel-body">
            <div class="col-md-3">
                <a href="@Url.Action("Index","MgtDivision")"><i class="fa fa-check-square-o"></i> Division</a>
            </div>
            <div class="col-md-3">
                <a href="@Url.Action("Index","MgtStore")"><i class="fa fa-shopping-cart"></i> Store</a>
            </div>
            <div class="col-md-3">
                <a href="@Url.Action("Index","MgtAssetCategory")"><i class="fa fa-check-square-o"></i> Asset Category</a>
            </div>
            <div class="col-md-3">
                <a href="@Url.Action("Index","MgtAssetSubcategory")"><i class="fa fa-building-o"></i> Asset Sub Category</a>
            </div>
            <div class="col-md-3">
                <a href="@Url.Action("Index","MgtDepartment")"><i class="fa fa-check-square-o"></i> Department</a>
            </div>
            <div class="col-md-3">
                <a href="@Url.Action("Index","MgtDesignation")"><i class="fa fa-user"></i> Designation</a>
            </div>
            <div class="col-md-3">
                <a href="@Url.Action("Index","MgtDistrict")"><i class="fa fa-home"></i> District</a>
            </div>
            <div class="col-md-3">
                <a href="@Url.Action("Index","MgtForm")"><i class="fa fa-book"></i> Form</a>
            </div>
            <div class="col-md-3">
                <a href="@Url.Action("Index","MgtItemCategory")"><i class="fa fa-shopping-cart"></i> Item category</a>
            </div>
            <div class="col-md-3">
                <a href="@Url.Action("Index","MgtItemSubcategory")"><i class="fa fa-shopping-cart"></i> Item Sub category</a>
            </div>
            <div class="col-md-3">
                <a href="@Url.Action("Index","MgtItemType")"><i class="fa fa-apple"></i> Item Type</a>
            </div>
            <div class="col-md-3">
                <a href="@Url.Action("Index","MgtModules")"><i class="fa fa-server"></i> Module</a>
            </div>
        </div>
    </div>

</div>

@section PageHeader{

    Welcome to Dashboard
}
